<%!-- TODO make the button patch to the modal that allows the person to edit the entry, you can pass product to the patched linke to do this and render the form--%>
<div>
  <Base.table id="why" rows={@jobs} row_click={fn job -> JS.navigate(~p"/survey/#{job}") end}>
    <:col :let={job} label="company">{job.company}</:col>
    <:col :let={job} label="title">{job.title}</:col>
    <:col :let={job} label="status">{job.status}</:col>
    <%!-- <:col :let={job} label="notes">{job.notes}</:col> --%>
    <%!-- <:col :let={job} label="description">{job.description}</:col> --%>
    <:action :let={product}>
      <.link patch={~p"/survey/show"}><button>Show</button></.link>
    </:action>
  </Base.table>
</div>
