<%!-- TODO make the button patch to the modal that allows the person to edit the entry, you can pass product to the patched linke to do this and render the form--%>
<div>
  <%!-- <.modal :if={@live_action in [:edit]} show="true" id="show-on-cancel"> --%>
  <%!--   <.live_component module={JobsyncWeb.SurveyLive.FormComponent} patch={~p"/survey"} /> > --%>
  <%!-- </.modal> --%>
  <%!-- {@live_action} --%>

  <Base.table id="why" rows={@jobs} row_click={fn job -> JS.navigate(~p"/survey/#{job}") end}>
    <:col :let={job} label="company">{job.company}</:col>
    <:col :let={job} label="title">{job.title}</:col>
    <:col :let={job} label="status">{job.status}</:col>
    <%!-- <:col :let={job} label="notes">{job.notes}</:col> --%>
    <%!-- <:col :let={job} label="description">{job.description}</:col> --%>
    <:action :let={job}>
      <.link patch={~p"/survey/#{job}/edit"}><button>Edit</button></.link>
    </:action>
  </Base.table>
</div>
