<div class="grid grid-cols-12 grid-rows-6 min-h-screen gap-4">
  <div class="bento col-span-6 row-span-1">Networking</div>
  <div class="bento col-span-6 row-span-1">Jobs</div>
  <div class="bento col-span-6 row-span-6"></div>
  <div class="bento col-span-6 row-span-5" id="hook-guy" phx-hook="DownloadHook">
    <.link patch={~p"/survey/new"}>
      New
    </.link>
    <Base.table
      id="why"
      rows={@streams.jobs}
      action={@live_action}
      row_click={fn {id, job} -> JS.navigate(~p"/survey/#{job}") end}
      phx-update="stream"
      >
      <:col :let={{_, job}} label="company">{job.company}</:col>
      <:col :let={{_, job}} label="title">{job.title}</:col>
      <:col :let={{_, job}} label="status">{job.status}</:col>
      <%!-- <:col :let={job} label="notes">{job.notes}</:col> --%>
      <%!-- <:col :let={job} label="description">{job.description}</:col> --%>
      <:action :let={{id, job}}>
        <.link patch={~p"/survey/#{job}/edit"}><button>Edit</button></.link>
        <.link phx-click={JS.push("delete", value: %{id: job.id})} data-confirm="Are you sure">
          delete
        </.link>
      </:action>
    </Base.table>
  </div>
</div>

<.modal
  :if={@live_action in [:edit, :new]}
  show={true}
  id="what-th-hell"
  on_cancel={JS.patch(~p"/survey")}
  >
  <.live_component
    module={JobsyncWeb.SurveyLive.FormComponent}
    job={@job}
    id="what"
    action={@live_action}
    patch={~p"/survey"}
  />
</.modal>
